<a [routerLink]="['']" ><img src="logos/logo.jpg" alt="jatetxeLogo"></a>

<section>
  <form>
    <input type="text" #filter placeholder="Filter by city" list="jatetxes"/>
    <button class="primary" type="button" (click)="filtratu(filter.value)">
      Bilatu
    </button>
  </form>
  <p>Jatetxe kantitate: {{filteredJatetxeak.length}}</p>


  <datalist id="jatetxes">
    <option *ngFor="let i of jatetxeakUniqueMunicipy" [value]="i.municipality"></option>
  </datalist>
</section>

<div class="row">
  <div class="col-12">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Posta Kodea</th>
            <th>Izena</th>
            <th>Udalerria</th>
            <th>Xehetazunak</th>
          </tr>
        </thead>
        <tbody></tbody>

        <tbody>
          <tr
            *ngFor="
              let item of filteredJatetxeak
                | paginate : { itemsPerPage: 10, currentPage: page }
            "
          >
            <td>{{ item.postalCode }}</td>
            <td>{{ item.documentName }}</td>
            <td>{{ item.municipality }}</td>
            <td>
              <a [routerLink]="['/details', item.documentName]">
                Xehetasunak ikusi</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Previous"
        nextLabel="Next"
      >
      </pagination-controls>
    </div>
  </div>
</div>
