/* Tabla de resultados */
.table-container {
  overflow-x: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6f7ff;
}

/* Estilo de enlace en la tabla */
td a {
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
}

td a:hover {
  color: #005fa3;
  text-decoration: underline;
}

/* Paginación */
pagination-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

pagination-controls button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 16px;
  color: #007acc;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

pagination-controls button:hover {
  color: #005fa3;
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: red;
}
p{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
p:hover{
  color: #007bff;
}
/* Estilos para el formulario */
form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del campo de entrada */
form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  flex: 1;
}

form input[type="text"]:focus {
  border-color: #007acc;
}

/* Estilo del botón */
form .primary {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007acc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .primary:hover {
  background-color: #005fa3;
}

form .primary:active {
  background-color: #004f8a;
}
